.container {
	display: flex;
	align-items: center;
	gap: 10px;
}

.section-wrapper {
	display: flex;
	align-items: center;
	gap: 5px;
}

.bulb {
	cursor: pointer;
	color: grey;
}

.light-bulb {
	color: gold;
}

.disable-bulb {
	color: silver;
	cursor: default;
}